---
import ProjectCard from "@/components/ProjectCard.astro";
import ProjectList from "@/components/ProjectList.astro";
import aboutData from "@/data/about.json";
import type { AboutData } from "@/data/types";
import RootLayout from "@/layouts/RootLayout.astro";
import { ArrowRightIcon } from "astro-feather";
import { getCollection } from "astro:content";
import Section from "@/layouts/Section.astro";
import Link from "@/components/Link.astro";

const { basics } = aboutData as AboutData;
const projects = await getCollection("projects");
const pageTitle = "Ray Zaranza | Desenvolvedor front-end · Designer de UI";
---

<RootLayout pageTitle={pageTitle}>
  <h1 class="visually-hidden">{pageTitle}</h1>
  <Section>
    <h2 slot="header">Últimos projetos</h2>
    <Link
      slot="action"
      className="button bordered"
      href="/projetos"
      isInline={false}>Todos os projetos <ArrowRightIcon /></Link
    >
    <ProjectList variant="grid">
      {
        projects.map((project) => (
          <ProjectCard project={project} variant="grid" />
        ))
      }
    </ProjectList>
  </Section>
  <Section>
    <h2 slot="header">Sobre</h2>
    <div>
      <p>{basics.summary}</p>
      <Link className="button bordered" href="/sobre" isInline={false}
        >Perfil completo <ArrowRightIcon /></Link
      >
    </div>
  </Section>
</RootLayout>
