---
import type { AboutData, WorkData } from "@/data/types";
import aboutData from "@/data/about.json";
import workData from "@/data/work.json";
import RootLayout from "@/layouts/RootLayout.astro";
import Section from "@/layouts/Section.astro";
import Link from "@/components/Link.astro";
import Image from "astro/components/Image.astro";
import TagList from "@/components/TagList.astro";
import { GithubIcon, LinkedinIcon, MailIcon, MapPinIcon } from "astro-feather";
const pageTitle = "Sobre";

const {
  basics: { name, email, location, profiles, summary, label },
} = aboutData as AboutData;
const { work } = workData as WorkData;
import profileImage from "@/assets/images/profile.jpg";
---

<RootLayout pageTitle={pageTitle}>
  <Section className="about">
    <h1 slot="header">Sobre</h1>
    <div class="intro">
      <div class="profile">
        <Image
          class="avatar"
          src={profileImage}
          alt="foto de perfil"
          width={128}
        />
        <div class="info">
          <span class="name">{name}</span>
          <span class="caption">{label}</span>
          <span class="caption location"
            ><MapPinIcon size={18} />
            {location.city}, {location.region}, {location.countryCode}</span
          >
          <ul class="links">
            <li>
              <Link href={`mailto:${email}`}><MailIcon size={18} /> Email</Link>
            </li>
            {
              profiles.map((profile) => (
                <li>
                  <Link isExternal href={profile.url}>
                    {profile.network === "GitHub" && <GithubIcon size={18} />}
                    {profile.network === "LinkedIn" && (
                      <LinkedinIcon size={18} />
                    )}
                    {profile.network}
                  </Link>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <p class="summary">{summary}</p>
  </Section>

  <Section>
    <h2 slot="header">Experiência</h2>
    <ul class="work-list">
      {
        work.map((work) => (
          <li class="work">
            <h3 class="work-title">
              {work.name}
              <span class="caption">
                · {work.startDate}—{work.endDate ?? "atual"}
              </span>
            </h3>
            <TagList tags={work.roles} />
            <p class="work-description">{work.summary}</p>
          </li>
        ))
      }
    </ul>
  </Section>
</RootLayout>

<style>
  .avatar {
    border-radius: 128px;
    aspect-ratio: 1;
  }

  .summary {
    margin-bottom: 0;
  }

  .profile {
    display: flex;
    gap: var(--space-200);
    flex-direction: column;
    @media screen and (min-width: 576px) {
      align-items: center;
      flex-direction: row;
    }
  }

  .links {
    display: flex;
    gap: var(--space-200);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: var(--space-050);
  }

  .work {
    display: flex;
    flex-direction: column;
    gap: var(--space-050);
    margin-bottom: calc(var(--space-200) * -1);
    padding-left: var(--space-200);
    padding-bottom: var(--space-600);
    position: relative;

    @media screen and (min-width: 576px) {
      padding-left: var(--space-300);
    }

    &:hover .work::before {
      background-color: var(--color-content);
      border: 3px solid var(--color-background);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &:not(:last-child)::after {
      left: 0;
      bottom: 0;
      top: var(--space-100);
      border-left: 1px solid var(--color-border-secondary);
    }

    &::before {
      left: calc(var(--space-050) * -1 - 0.06rem);
      top: calc(var(--space-050) + 0.05rem);
      width: 12px;
      height: 12px;
      background-color: var(--color-background);
      border: 1px solid var(--color-border);
      z-index: 1;
      rotate: 45deg;
    }
  }

  .location {
    margin-block: var(--space-100);
    display: flex;
    align-items: center;
    gap: var(--space-050);
  }

  .work-list {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .work-description {
    font-size: var(--font-size-100);
    margin-bottom: 0;
  }

  .work-title {
    font-size: var(--font-size-700);
    margin-bottom: var(--space-050);
    color: var(--color-content);
    position: relative;
  }

  .name {
    font-size: var(--font-size-200);
    font-weight: 600;
  }
</style>
