---
import Link from "@/components/Link.astro";
import RootLayout from "./RootLayout.astro";
import Wrapper from "./Wrapper.astro";
import {
  ArrowLeftIcon,
  ExternalLinkIcon,
  GithubIcon,
  GlobeIcon,
} from "astro-feather";
import TagList from "@/components/TagList.astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { title, tags, description, github, website, cover, alt, year } =
  project.data;
---

<RootLayout pageTitle={title}>
  <Wrapper className="content">
    <Link href="/projetos"><ArrowLeftIcon />Projetos</Link>
    <header class="header">
      <h1>{title}</h1>
      <TagList tags={tags} />
      <Image
        class="cover"
        transition:name={`${project.id}-cover`}
        src={cover}
        alt={alt}
      />
    </header>
    <main>
      <p>{description}</p>
      {
        github && (
          <Link className="button bordered" href={github} isExternal>
            <GithubIcon /> GitHub <ExternalLinkIcon size={16} />
          </Link>
        )
      }
      {
        website && (
          <Link className="button bordered" href={website} isExternal>
            <GlobeIcon /> Site <ExternalLinkIcon size={16} />
          </Link>
        )
      }
      <slot />
    </main>
  </Wrapper>
</RootLayout>

<style>
  .header {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    margin-top: var(--space-300);
    margin-bottom: var(--space-400);
  }

  .cover {
    height: 180px;
    @media screen and (min-width: 576px) {
      height: 400px;
    }
  }

  .content {
    img {
      width: 100%;
    }

    p {
      max-width: 600px;
    }
  }
</style>
